@import url('https://fonts.googleapis.com/css?family=Open Sans:400,700|Montserrat');


html {
	scroll-behavior: smooth;
}

/* HEADER */


#header-div {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#header-div img {
	margin-top: 5px;
	margin-left: 40px;
}

#header-div input {
	height: 40px;
	width: 250px;
	margin-left: 700px;
	margin-top: 40px;
	background-color: rgb(66, 213, 213);
	border-color: rgb(66, 213, 213);
	color: black;
	font-family: Verdana, sans-serif;
}


/* NAVIGATION BAR */


#menudropdown {
	height: 55px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.navbar {
  overflow: hidden;
  background-color: rgb(66, 213, 213);
  font-family: Verdana, sans-serif;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}


/* SOCIAL MEDIA BAR */


.fa {
  
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  margin-left: 26%;
  background:rgb(66, 213, 213);
  color:  black;
}

.fa-twitter {
  background:rgb(66, 213, 213);
  color: black;
}

.fa-linkedin {
  background:rgb(66, 213, 213);
  color:  black;
}

.fa-youtube {
  background: rgb(66, 213, 213);
  color:  black;
}

.fa-instagram {
  background:rgb(66, 213, 213);
  color:  black;
}

.fa-pinterest {
  background: rgb(66, 213, 213);
  color:  black;
}


/*FETCH DATA IN CARDS*/




.button {
    
position: relative;
/* top: 50%; */
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);

    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .button1 {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(66, 213, 213); 
    color: black; 
    border: 2px solid black;
  }
  
  /* .button1:hover {
    background-color: black;
    color: white;
  } */
  
  .button2 {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(66, 213, 213); 
    color: black; 
    border: 2px solid blac;
  }
  
  /* .button2:hover {
    background-color: black;
    color: white;
  } */
  






/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .cardcontainer {
    padding: 2px 16px;
  } */

  .card {
    box-shadow: 0 4px 8px 0 grey;
    max-width: 300px;
    margin: auto;
    font-family: arial;
  }
  
  .title {
    color: black;
    font-size: 18px;
  }
  
  button {
    
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 15%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }










/* 
FORM */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.container {
    width: 80%;
    max-height: max-content;
    max-width: 650px;
    background-color: rgb(214, 249, 253);
    margin: 3em auto;
    padding: 2.25em 2em;
    border-radius: 6px;
}

form {
    margin: 0 auto;
}

fieldset {
    border: none;
    padding-top: 0.5rem;
}

label {
    display: block;
    margin: 1em 0;
}

.radio,
.checkbox {
    display: flex;
    margin: 1em 0;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.inline {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    padding-top: 0.8em;
    border-bottom: 2.5px solid rgb(66, 213, 213);
}

h1,
p {
    text-align: center;
}

h1,
h2 {
    color: rgb(66, 213, 213);
}

a {
    color: #000000;
    margin: 0 0.3em;
}

input,
textarea,
select {
    margin: 0;
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    padding-left: 1em;
}

input,
select {
    height: 2.25em;
}

textarea {
    height: 5em;
    resize: none;
}

input[type="radio"],
input[type="checkbox"] {
    height: 1.5em;
    width: auto;
    margin-right: 1em;
}

input[type="submit"] {
    display: block;
    width: 100%;
    margin: 2.25% auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(66, 213, 213);
    border: none;
    border-radius: 6px;
    color: #ffffff;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
    background-color: black;
    cursor: pointer;
}













/* FOOTER */


#footer2 {
    margin: 0;
    padding: 0;
    --primary :  rgb(214, 249, 253);
    --secondary: black;
    --box-background: #000000;
}

.fmain {
    max-height: 550px;;
    background-color: rgb(214, 249, 253);
    color: white;
    font-size: 38pt;
    text-align: center;
    line-height: 550px;
}

.footer_fmain{
    background-color: var(--primary);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
 
    padding: 55px 50px;
    margin-top: 80px;
}
 
.footer_fmain .footer-left,
.footer_fmain .footer-center,
.footer_fmain .footer-right{
	display: inline-block;
    vertical-align: top;
}
 
.footer_fmain .footer-left{
    width: 40%;
}
 
.footer_fmain h3{
    color:  var(--secondary);
    font: normal 36px inherit;
    font-weight: 500;
    margin: 0;
    
}
 
 
.footer_fmain .footer-links{
    color:  var(--secondary);
    margin: 20px 0 12px;
    padding: 0;
}
 
.footer_fmain .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
 
.footer_fmain .footer-company-name{
    color:  var(--secondary);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
 
 
.footer_fmain .footer-center{
    width: 35%;
}
 
.footer_fmain .footer-center i{
    background-color:  rgb(214, 249, 253);
    color: black;
    font-size: 25px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
 
.footer_fmain .footer-center i.fa-envelope{
    font-size: 15px;
    line-height: 8px;
}


 
.footer_fmain .footer-center p{
    display: inline-block;
    color: var(--secondary);
    vertical-align: middle;
    margin:0;
}
 
.footer_fmain .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
 
.footer_fmain .footer-center p a{
    color:  var(--secondary);
    text-decoration: none;;
}
 
.footer_fmain .footer-right{
    width: 20%;
}
 
.footer_fmain .footer-company-about{
    line-height: 20px;
    color: var(--secondary);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
 
.footer_fmain .footer-company-about span{
    display: block;
    color:  var(--secondary);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
.footer_fmain .footer-icons{
    margin-top: 25px;
}
 
.footer_fmain .footer-icons a{

    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(214, 249, 253);
    border-radius: 2px;
 
    font-size: 20px;
    color: var(--secondary);
    text-align: center;
    line-height: 35px;
 
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
	
	#header-div input {
		margin-left: 830px;
		margin-top: -55px;
	}
	
}
 
@media (max-width: 1100px) {
	
	#header-div input {
		margin-left: 730px;
		margin-top: -55px;
	}
	
}

@media (max-width: 1000px) {
	
	#header-div input {
		margin-left: 630px;
		margin-top: -55px;
	}
	
}
 

@media (max-width: 900px) {
	
	#header-div input {
		margin-left: 530px;
		margin-top: -55px;
	}
	
}
 
@media (max-width: 800px) {
	
	#header-div input {
		margin-left: 430px;
		margin-top: -55px;
	}
	
}

@media (max-width: 700px) {
	
	#header-div input {
		margin-left: 300px;
		margin-top: -55px;
	}
	
}


@media (max-width: 880px) {
 
    .footer_fmain{
        font: bold 14px inherit;
    
    }
 
    .footer_fmain .footer-left,
    .footer_fmain .footer-center,
    .footer_fmain .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
 
    .footer_fmain .footer-center i{
        margin-left: 0;
    }
    .fmain {
        line-height: normal;
        font-size: auto;
    }
 
}